#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
matches=pd.read_csv("/content/matches.csv")
deliveries=pd.read_csv("/content/deliveries.csv")

In [0]:
deliveries.shape

(179078, 21)

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [0]:
new=deliveries
new["wicket"]=deliveries["dismissal_kind"].notnull()
new=new[new["wicket"]==True]
best=new.groupby("bowler")["wicket"].sum().sort_values(ascending=False).head(10).index
new=new[new["bowler"].isin(best)]
new.pivot_table(index="bowler",columns="over",values="wicket", aggfunc="count")

over               1     2     3     4     5   ...    16    17    18    19    20
bowler                                         ...
A Mishra          1.0   NaN   NaN   4.0   1.0  ...  15.0   8.0   7.0   5.0   6.0
B Kumar          19.0   7.0  13.0   4.0   4.0  ...  12.0   8.0  16.0  20.0  24.0
DJ Bravo          NaN   1.0   2.0   3.0   1.0  ...  14.0   9.0  29.0  14.0  36.0
Harbhajan Singh   5.0   6.0   1.0   7.0   4.0  ...   8.0   9.0   6.0   4.0   1.0
PP Chawla         NaN   2.0   1.0   1.0   2.0  ...  12.0  11.0   7.0   2.0   7.0
R Ashwin          7.0   1.0   5.0   6.0  10.0  ...  15.0   5.0   9.0   1.0   2.0
R Vinay Kumar     2.0   6.0   4.0  10.0   5.0  ...   4.0   8.0  10.0  11.0  29.0
SL Malinga       12.0  12.0   2.0   3.0   5.0  ...  18.0  14.0  29.0  36.0  25.0
SP Narine         NaN   2.0   2.0   3.0  10.0  ...   9.0  12.0  14.0  15.0  15.0
UT Yadav          6.0   8.0   7.0  13.0   5.0  ...   9.0   8.0  11.0  12.0  22.0

[10 rows x 20 columns]

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
def player_profile(player):
    print("Player profile for",player,":")
    profile=deliveries.groupby("batsman")
    print("Innings played=",len(profile.get_group(player)["match_id"].unique()))
    print("Total runs scored=",profile.get_group(player)["total_runs"].sum())
    print("Number of Man Of the Matches awarded=",(matches["player_of_match"]==player).sum())
    print("Total number of boundaries=",(profile.get_group(player)["batsman_runs"]>=4).sum())

In [0]:
player_profile("V Kohli")

Player profile for V Kohli :
Innings played= 169
Total runs scored= 5616
Number of Man Of the Matches awarded= 12
Total number of boundaries= 673

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
def top_of_venue(venue):
    venues=deliveries.merge(matches[["venue","id"]],left_on="match_id",right_on="id").groupby("venue")
    return venues.get_group(venue).groupby("batsman")["batsman","total_runs"].sum().sort_values("total_runs",ascending=False).head(4)

In [0]:
top_of_venue("Eden Gardens")

            total_runs
batsman
G Gambhir         1496
RV Uthappa        1246
YK Pathan          910
AD Russell         758

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
matches.groupby("city").get_group("Mumbai").groupby("season").size()

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
2018     9
2019     7
dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [0]:
deliveries.groupby("dismissal_kind").get_group("caught")["fielder"].value_counts().head(3)

KD Karthik    109
SK Raina       99
MS Dhoni       98
Name: fielder, dtype: int64