# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
matches=pd.read_csv("/content/matches.csv")
deliveries=pd.read_csv("/content/deliveries.csv")

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
matches.head(3)

   id  season       city  ...         umpire1    umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar   NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore     S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon  CK Nandan     NaN

[3 rows x 18 columns]

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
matches.drop_duplicates(subset="season",keep="first")["city"].value_counts().sort_values(ascending=False).index[0]

'Chennai'

In [0]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
match_id            179078 non-null int64
inning              179078 non-null int64
batting_team        179078 non-null object
bowling_team        179078 non-null object
over                179078 non-null int64
ball                179078 non-null int64
batsman             179078 non-null object
non_striker         179078 non-null object
bowler              179078 non-null object
is_super_over       179078 non-null int64
wide_runs           179078 non-null int64
bye_runs            179078 non-null int64
legbye_runs         179078 non-null int64
noball_runs         179078 non-null int64
penalty_runs        179078 non-null int64
batsman_runs        179078 non-null int64
extra_runs          179078 non-null int64
total_runs          179078 non-null int64
player_dismissed    8834 non-null object
dismissal_kind      8834 non-null object
fielder             6448 non-null object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
#using groupby
malinga=deliveries[deliveries["bowler"]=="SL Malinga"][["batsman","total_runs"]]
malinga.groupby("batsman")["total_runs"].sum().sort_values(ascending=False).head(3)

batsman
SR Watson         133
AB de Villiers    130
MS Dhoni           92
Name: total_runs, dtype: int64

In [0]:
#without groupby, just for fun
malinga=deliveries[deliveries["bowler"]=="SL Malinga"][["batsman","total_runs"]]
from collections import defaultdict
runs=defaultdict(int)
for i in range(0,len(malinga)):
    runs[malinga.iloc[i]["batsman"]]+=malinga.iloc[i]["total_runs"]
for i in sorted(runs, key=runs.get, reverse=True)[0:3]:
    print(i,"=",runs[i])

SR Watson = 133
AB de Villiers = 130
MS Dhoni = 92

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
def wickets(team):
    x=deliveries[(deliveries["batting_team"]==team) & (deliveries["player_dismissed"].isnull()==False)]["bowler"].value_counts()
    print(x.index[0],"with",x[0],"wickets")

In [0]:
wickets("Mumbai Indians")

DJ Bravo with 31 wickets

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
def wins(team):
    finals=matches.drop_duplicates(subset=["season"],keep="last")
    played=0
    if team in finals["team1"].value_counts().index:
        played=finals["team1"].value_counts()[team]
    if team in finals["team2"].value_counts().index:
        played+=finals["team2"].value_counts()[team]
    if played==0:
        print("Played=",played)
    if played>0:
        print("Played=",played,", Won=",len(finals[finals["winner"]==team]))

In [0]:
wins("Kolkata Knight Riders")

Played= 2 , Won= 2

In [0]:
wins("Gujarat Lions")

Played= 0

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def runs_per_team(batsman):
    return deliveries[deliveries["batsman"]==batsman][["bowling_team","total_runs"]].groupby("bowling_team").sum()

In [0]:
runs_per_team("DA Warner")

                             total_runs
bowling_team
Chennai Super Kings                 466
Deccan Chargers                     243
Delhi Capitals                       69
Delhi Daredevils                    277
Gujarat Lions                       349
Kings XI Punjab                     876
Kochi Tuskers Kerala                 18
Kolkata Knight Riders               873
Mumbai Indians                      511
Pune Warriors                       123
Rajasthan Royals                    358
Rising Pune Supergiant               87
Rising Pune Supergiants              12
Royal Challengers Bangalore         704
Sunrisers Hyderabad                   9